@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sunkids";
  src: local("Sunkids"), url("./assets/fonts/Sunkids.otf");
}

@font-face {
  font-family: "Lemonmilk-Regular";
  src: local("Lemonmilk-Regular"), url("./assets/fonts/Lemonmilk-Regular.otf");
}

@font-face {
  font-family: "Explorer-Regular";
  src: url("./assets/fonts/Explorer-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Aeonik-Regular";
  src: local("Aeonik-Regular"), url("./assets/fonts/Aeonik-Regular.otf");
}

:root {
  font-family: "Aeonik-Regular", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bg {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(18, 18, 18, 0.8) 25%, rgba(255, 255, 255, 0) 100%);
}

.video-bg {
  background: rgb(0, 0, 0);
  /* background: linear-gradient(0deg, rgba(18, 18, 18, 0.8) 50%, rgba(255, 255, 255, 0) 100%); */
  background: linear-gradient(0deg, rgb(0, 0, 0) 30%, rgba(255, 255, 255, 0) 100%);
}

.main-video {
  filter: brightness(60%);
}
.our-services-video, .main-video  {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}